@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

@keyframes installBtn {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

:host {
  * {
    color: #fff;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    word-break: break-word;
    line-height: 1.4;
    outline: none;
  }
  .icon {
    width: 100%;
    background-repeat: no-repeat;
    max-width: 95px;
  }

  .download {
    display: flex;
    min-width: 320px;
    width: 100vw;
    min-height: 100vh;
    background-image: url("/assets/images/pages/download/background.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    box-sizing: border-box;
    align-items: center;
    padding-top: 80px;

    .fixed-size {
      width: 100%;
      padding: 0 20px;
      max-width: 1170px;
      box-sizing: border-box;
      margin: 0 auto;

      @media screen and (max-width: 1155px) {
        backdrop-filter: blur(6px);
      }

      .download-wrapper {
        display: flex;
        flex-direction: column;

        &:active {
          user-select: none;
        }

        @media screen and (max-width: 1155px) {
          align-items: center;
          text-align: center;
        }

        .download-row {
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-bottom: 30px;

          &:first-child {
            margin-bottom: 90px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .download-row-selection-icon {
            object-fit: contain;
            max-width: 54px;
            margin-right: 40px;

            &.play-icon {
              max-width: 75px;
              margin-right: 20px;
            }
          }

          .download-row-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 320px;
            height: 60px;
          }

          .download-video-section {
            display: flex;
            align-items: center;
            max-width: 320px;
            align-items: center;
            cursor: pointer;

            h1 {
              display: block;
              font-family: Raleway, sans-serif;
              font-size: 22px;
              max-width: 171px;
            }
          }
        }
        .download-footer-section {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
          align-items: center;
          justify-items: center;

          h1 {
            font-weight: 500;
            font-size: 57px;
            line-height: 70px;
            margin-bottom: 25px;

            @media screen and (max-width: 600px) {
              font-size: 50px;
            }

            @media screen and (max-width: 530px) {
              font-size: 34px;
              line-height: 50px;
              margin-bottom: 50px;
            }

            @media screen and (max-width: 373px) {
              font-size: 28px;
              line-height: 40px;
            }
          }

          .install-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 20px;
            width: 100%;
            max-width: 400px;
            height: 108px;
            font-size: 30px;
            text-transform: uppercase;
            border-radius: 6px;
            cursor: pointer;
            box-sizing: border-box;
            background-color: #fff;
            color: #000;
            font-weight: 700;
            animation-name: installBtn;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            margin-bottom: 20px;

            &.icon-windows::after {
              content: "";
              display: block;
              min-width: 30px;
              min-height: 30px;
              margin-left: 15px;
              background-image: url("/assets/images/icons/windows.svg");
              background-size: contain;
              background-position: 50%;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}
