@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

@keyframes installBtn {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

:host {
  .icon {
    width: 100%;
    background-repeat: no-repeat;
    max-width: 95px;
  }

  .download {
    display: flex;
    min-width: 320px;
    width: 100vw;
    height: 100vh;
    background-image: url(~src/assets/images/pages/download/background.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    box-sizing: border-box;
    align-items: center;
    padding-top: 80px;

    @media screen and (max-width: 425px) {
      height: 100%;
    }

    .fixed-size {
      width: 100%;
      padding: 0 20px;
      max-width: 1170px;
      box-sizing: border-box;
      margin: 0 auto;

      .download-wrapper {
        display: flex;
        flex-direction: column;

        .download-row {
          display: flex;
          flex-direction: column;
          gap: 20px;

          &.video-row {
            margin-top: 90px;
          }

          .row-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 320px;
            height: 60px;

            .download-row-selection-icon {
              object-fit: contain;
              max-width: 54px;
              margin-right: 40px;
            }
          }

          .video-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 320px;
            align-items: center;
            cursor: pointer;
            margin-bottom: 30px;

            h1 {
              display: block;
              font-family: Raleway, sans-serif;
              font-size: 22px;
              max-width: 171px;
            }
          }
        }
        .footer-section {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
          align-items: center;
          justify-items: self-end;

          @media screen and (max-width: 768px) {
            align-self: flex-start;
            justify-items: start;
          }

          h1 {
            font-weight: 500;
            font-size: 57px;
            line-height: 70px;

            @media screen and (max-width: 1024px) {
              font-size: 50px;
            }
            @media screen and (max-width: 425px) {
              font-size: 34px;
              line-height: 50px;
              margin-bottom: 50px;
            }
            @media screen and (max-width: 320px) {
              font-size: 28px;
              line-height: 40px;
            }
          }

          .install-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 20px;
            width: 100%;
            max-width: 461px;
            height: 108px;
            font-size: 30px;
            text-transform: uppercase;
            border-radius: 6px;
            cursor: pointer;
            box-sizing: border-box;
            background-color: #fff;
            color: #000;
            font-weight: 700;
            animation-name: installBtn;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            margin-bottom: 20px;

            &.icon-windows:after {
              content: "";
              display: block;
              min-width: 30px;
              min-height: 30px;
              margin-left: 15px;
              background-image: url(~src/assets/images/icons/windows.svg);
              background-size: contain;
              background-position: 50%;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}
