<div class="download">
  <div class="fixed-size">
    <div class="download-wrapper">
      <div class="download-row">
        <div class="row-section">
          <div class="icon" style="background-image: url(/assets/images/icons/install.svg);"></div>
          <h3>Установка игры в 3 клика</h3>
        </div>
        <div class=" row-section">
          <div class="icon" style="background-image: url(/assets/images/icons/update.svg);"></div>
          <h3>Быстрое обновление игры (300 Мб вместо 5 Гб)</h3>
        </div>
        <div class="row-section">
          <div class="icon" style="background-image: url(/assets/images/icons/guard.svg);"></div>
          <h3>Нет стиллеров и вирусов, в отличии от "левых сборок"</h3>
        </div>
      </div>
      <div class="download-row video-row">
        <div class="row-section video-section">
          <div class="icon" style="background-image: url(/assets/images/icons/play.svg); height: 75px;"></div>
          <h1>Смотреть обзор лаунчера</h1>
        </div>
      </div>
      <div class="footer-section">
        <h1>
          Простой и понятный
          Удобный и быстрый
          Безопасный
        </h1>
        <a class="install-button icon-windows">
          Скачать лаунчер
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
