body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

* {
  color: #fff;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  word-break: break-word;
  line-height: 1.4;
  outline: none;
}
